* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.post {
    background-color: white;
    max-width: 614px;
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
.post-header {
    display: flex;
    padding: 14px 16px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #efefef;
}

.post-header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.post-header-left i {
    font-size: 30px;
}

.user{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.user strong{
    font-size: 14px;
    font-weight: 500;
}
.user span{
    font-size: 12px;
    color: #8e8e8e;
    font-weight: 400;
}

.post-header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-header-right{
    cursor: pointer;
    font-size: 20px;
}
.post-img {
    width: 100%;
    display: block;
}

.post-img img {
    width: 100%;
    display: block;
    height: auto;
}

/* iconos */
.post-icons {
    display: flex;
    padding: 6px 16px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.post-icons-left {
    display: flex;
    gap: 16px;
}

.post-icons i {
    cursor: pointer;
}

.post-icons i:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.post-icons-right {
    display: flex;
}

/* texto post */
.post-body{
    padding: 0 16px 16px 16px;
}

.post-body p {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 18px;
    color: black;
}

.post-body p:first-child {
    font-weight: 400;
}

.post-body strong {
    font-weight: 500;
}
